body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.homepage-container {
    display: flex;  
    min-height: 100vh;
    padding: 40px 20px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.homepage-container h1 {
    text-align: center;
    text-shadow: 0 0 8px rgba(240, 115, 200, 0.5);
    color: #f073c8;
    font-size: 2rem;
    margin-bottom: 40px;
}

/* .homepage-container p {
    text-align: center;
    font-size: 1.1rem;
} */


.user-list {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: stretch;
    padding: 0 20px;
}

@media (max-width: 768px) {
  .homepage-container h1 {
    font-size: 1.6rem;
  }

  .user-list {
    grid-template-columns: 1fr;
  }
}
