.navbar {
  background-color: #242e4c7a;
  padding: 15px;
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.navbar.scrolled {
  background-color: rgba(36, 46, 76, 0.85);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  /* transition: background-color 0.3s ease, box-shadow 0.3s ease; */
}

.navbar img {
  border-radius: 10px;
  height: 40px;
  width: 40px;
}

.navbar a {
  color: #97a5ce;
  font-size: 18px;
  text-decoration: none;
  font-family: inter;
  transition: 0.2s;
}

.navbar a:hover {
  color: #f073c8;
  transition: 0.9s;
}
