.navbar {
  background-color: #242e4c7a;
  padding: 15px;
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
}

.navbar img {
  border-radius: 10px;
  height: 40px;
  width: 40px;
}

.navbar a {
  color: #97a5ce;
  font-size: 18px;
  text-decoration: none;
  font-family: inter;
  transition: 0.2s;
}

.navbar a:hover {
  color: #f073c8;
  transition: 0.9s;
}
