@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle 500px at 50% 100px,rgba(236, 72, 153, 0.4), transparent);
  background-color: #1b2238;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
}

.registration-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-cadastro {
  background-color: #242e4c;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  border-radius: 15px;
  width: 100%;
  max-width: 430px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.titulo h3 {
  color: #f073c8;
  text-shadow: 0 0 5px rgba(240, 115, 200, 0.5);
  font-size: 26px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.card-cadastro div {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 12px;
}

.card-cadastro label {
  font-size: 15px;
  margin-bottom: 5px;
  color: #97a5ce;
}

.card-cadastro input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #3a4563;
  font-size: 15px;
  background-color: #1b2238;
  color: #cbd7ff;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.card-cadastro input:focus {
  border-color: #6e8cff;
  outline: none;
  background-color: #202947;
}

.card-cadastro button {
  margin-top: 15px;
  background-color: #f073c8;
  padding: 12px 0;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

.card-cadastro button:hover {
  background-color: #d061b2;
}

.error-message {
  color: #ff6b6b;
  font-size: 13px;
  margin-top: 5px;
}

.input-error {
  border: 1px solid #ff6b6b !important;
  background-color: #2b1d27 !important;
}

@media (max-width: 480px) {
  .card-cadastro {
    padding: 25px 20px;
  }
}
